.animation-background{
    min-width: 100%;
    background: url('../../images/desert.jpg') no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    background-position: bottom;  
    position: relative;
    overflow-x: hidden;
}
.animated-part{
    position: absolute;
    top: 18%;
    left: 0;
    width: 100%;
}
.animation-background img{
    width: 12%;
   
}

@media only screen and (max-width: 600px) {
    .animated-part{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
    }
    .animation-background img{
        width: 35%;
       
    }
    
}