.single_product{
    margin-top: 150px!important;
    padding: 10px;
    margin-bottom: 120px;
}
.product_details{
    justify-content: flex-start;
    flex-direction: column;
}
.menu_btn{
    margin:10px!important;
    max-width: 50px;
    min-width: 50px;
}